@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Bai+Jamjuree&family=DM+Sans:opsz@9..40&family=Poppins&family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Bai+Jamjuree&family=DM+Sans:opsz@9..40&family=Inter&family=Poppins&family=Roboto&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

/* NAV SECTION */

#hide_menu {
  display: none;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  position: sticky;
  top: 0;
  background: white;
}
.home {
  color: #509e2f;
}
.navtxt {
  color: var(--Black, #253d4e);
}
.nav_right_side {
  display: flex;
  width: 40vh;
  gap: 50px;
  align-items: center;
}
.nav_left_img {
  display: flex;
  width: 60vh;
  align-items: center;
}

/* Hero section */

header {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}
#hero_section {
  border-radius: 30px;
  background: linear-gradient(90deg, #252525 -16.65%, rgba(0, 0, 0, 0) 100%),
    url("shared_folder/hero_Section_img.svg"), lightgray 50% / cover no-repeat;
  width: 80%;
  height: 355px;
  flex-shrink: 0;
}
#hero_section > div {
  margin-top: 90px;
  margin-left: 70px;
}
#hero_section > div > div:nth-child(1) > p {
  color: #dc582a;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 127%; /* 30.48px */
}
#hero_section > div > div:nth-child(2) {
  width: 446px;
}
#hero_section > div > div:nth-child(2) > p {
  color: #fff;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 127%; /* 50.8px */
}
#hero_section > div > div:nth-child(3) > p {
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 127%; /* 25.4px */
}

/* Search Section */

.search_section {
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  gap: 20px;
}
.search_section > h3 {
  color: #252525;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 80%;
}
.search_section > div {
  display: flex;
  align-items: center;
  width: 80%;
}

.search_section > div > input {
  width: 1225px;
  height: 42px;
  padding: 12px;
  align-items: center;
  gap: 7px;
  flex-shrink: 0;
  border-radius: 2px 0px 0px 2px;
  background: #f3f3f3;
}
.search_section > div > button {
  display: flex;
  width: 55px;
  height: 42px;
  padding: 21px;
  justify-content: center;
  align-items: center;
  gap: 9px;
  flex-shrink: 0;
  border-radius: 0px 2px 2px 0px;
  background: #509e2f;
}

/* Sorting By Type Section */


.sort_type {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}
.sort_type > div {
  display: flex;
  width: 80%;
  gap: 30px;
}

.sort_type > div > div:nth-child(1) {
  display: flex;
  width: 236.8px;
  height: 86px;
  padding: 30px 29.8px 30px 29px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #eaaa00;
}
.sort_type > div > div:nth-child(2) {
  display: flex;
  width: 236.8px;
  height: 86px;
  padding: 30px 26.6px 30px 27.2px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #c4d600;
}
.sort_type > div > div:nth-child(3) {
  display: flex;
  width: 236.8px;
  height: 86px;
  padding: 30px 22.4px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #dc582a;
}

/* Display Main Content */
.content_wrap{
  display: flex;
  justify-content: center;
}

.display_content{
    margin-top: 50px;
    width: 80%;
    display: flex;
    /* justify-content: space-between; */
  
}


.filter_setion {
  display: flex;
  width: 15%;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  background: #fff;

}
.filter_setion > div:nth-child(1) > h3 {
  color: #252525;

  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.filter_setion > div:nth-child(2) {
  display: flex;
  padding: 15px 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 7px;
  background: #fff;
}
.filter_setion > div:nth-child(2) > h4 {
  color: #252525;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#recipe_section{
  display: flex;
  width: 85%;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  background: #FFF;
}

.cart{
    display: flex;
    flex-direction: column;
    width: 305px;
height: 315px;
flex-shrink: 0;
border-radius: 16px;
background: #FFF;
padding: 10px;

/* Shadow/shadow-sm */
box-shadow: 0px 3px 8px -1px rgba(50, 50, 71, 0.05), 0px 0px 1px 0px rgba(12, 26, 75, 0.24);
}
.bimg{
    display: flex;
width: 289px;
height: 200px;
justify-content: center;
align-items: center;
flex-shrink: 0;
    border-radius: 16px;
background: url("https://source.unsplash.com/random?veggies"), lightgray 50% ;
background-size: 100% 100%;
}
.r_type>p{
    color: #A1A1A1;
font-family: Inter;
font-size: 10px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 240% */
}
.r_name{
    display: flex;
   justify-content: space-between;
    width: 90%;
    align-items: center;
}
.r_name>p:nth-child(1){
    text-align: left;
    color: #252525;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 120% */
}
.r_name>span{
display: flex;
 
}
.r_rating{
    display: flex;
    gap: 10px;
}
.r_rating>p{
    color: var(--Grey, #ADADAD);
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.r_time{
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;

}
.r_time>h3{
    color: #DC582A;

/* Headings/h3 */
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 136.523%; /* 27.305px */
}
.r_like{
    display: flex;
    gap: 10px;
}


/* footer */





footer{
  margin-top: 20px;
  width: 80%;
  justify-content:space-around;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer_top{
  display: flex;
  gap: 20%;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}
.f_logo{
width: 96px;
height: 46px;
flex-shrink: 0;
  background: url(shared_folder/nav_img/Cookpal\ 1.svg), lightgray 50% / cover no-repeat;
}


.frow1_c1>p{
  color: #253D4E;
text-align: justify;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 290px;
padding-top: 20px;
}
.frow1_c3{
  display: flex;
width: 400px;
flex-direction: column;
align-items: flex-start;
gap: 24px;
}
.frow1_c3>p{
  color: var(--black-alpha-60, rgba(0, 0, 0, 0.60));
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.28px;
}
.f_c3_d1{
  display: flex;
  align-items: center;
  gap: 7px;
} 
.f_c3_d1>div{
  display: flex;
  align-items: center;
}
.f_c3_d1>button{
background-color:#53952D;
color: #FFF;
}

.footer_bottom>i{

padding: 20px;
}

th{
  color: #253D4E;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 26px; /* 130% */
padding-inline: 15px;
padding-bottom: 8px;
}
td{
  color: var(--black-alpha-60, rgba(0, 0, 0, 0.60));
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 125% */
padding-inline: 15px;
padding-bottom: 5px;
}
